<simple-notifications (onCreate)="created($event)"></simple-notifications>

<section class="content-header">
  <h1>Autores
    <small>Lista</small>
    <a (click)="newAuthor()" class="btn btn-primary float">Cadastrar Autor</a>
  </h1>
</section>

<!-- quando não houver cadastro -->
<div *ngIf="!hasdata">
  <section class="content">
    <div class="feedback-icon fa fa-user"></div><br><br>
    <span class="feedback-message">Não há dados cadastrados</span>
  </section>
</div>

<div *ngIf="hasdata">
  <section class="content">
    <div class="box">
      <div class="box-header">
        <h3 class="box-title">Autores Cadastrados</h3>
      </div>
      <div class="box-body">
        <table id="example1" class="table table-bordered table-striped">
          <thead>
            <tr>
              <th>ID</th>
              <th>Autor</th>
              <th>Editar</th>
              <th>Excluir</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of pagedItems">
              <th>{{ item.id }}</th>
              <td>{{ item.lastName }} {{ item.firstName }}</td>
              <td><a (click)="editAuthor(item)"><i class="fa fa-pencil cursor" aria-hidden="true"></i></a></td>
              <td><a (click)="deleteAuthor(item.id)"><i class="fa fa-trash-o cursor" aria-hidden="true"></i></a></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <ul *ngIf="pager.pages && pager.pages.length" class="pagination stylepage">
      <li [ngClass]="{disabled:pager.currentPage === 1}">
        <a (click)="setPage(pager.currentPage - 1)">Anterior</a>
      </li>
      <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
        <a (click)="setPage(page)">{{page}}</a>
      </li>
      <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
        <a (click)="setPage(pager.currentPage + 1)">Próxima</a>
      </li>
    </ul>
  </section>
</div>